<div class="teste">
    <div class="container-fluid">
        <div class="card-body">
            <h1 class="text-black text-center Title_sobre">o que é o infomed?</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card-body">
            <h2 class="text-black text-center maiusculo_Teste">
                É uma aplicação que fornece dados sobre as farmácias populares, para que usuários de medicamentos possam ter acesso às informações de disponibilidade, reserva e agendamento de retirada de medicamentos gratuitos fornecidos por órgãos municipais, estaduais, federais e jurídicos (remédios de alto custo)
            </h2>
        </div>
    </div>
    <br />
    <div class="container-fluid ">
        <div class="card-body">
            <div class="row justify-content-evenly ">
                <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-6  bg-secondary cards_props">
                    .
                </div>

                <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-6  ">
                    <h6 class="text-black text-center maiusculo_Teste">
                        Lorem ipsum dolor sit amet consectetur. Sed eget iaculis magna scelerisque est sit interdum turpis lorem. Id tellus fermentum sollicitudin quam sit tempus mi. Et arcu aliquam gravida donec sed. Aenean nullam sit posuere vestibulum at pulvinar velit eros. Ultrices elementum non vitae tincidunt risus condimentum suscipit. Molestie ornare ut imperdiet elementum. Enim egestas netus ut iaculis tortor nunc sit interdum. Est mauris fringilla enim vulputate pretium neque vulputate quam a. Dictum rhoncus mollis faucibus vulputate aliquam etiam. Volutpat tempor cras etiam amet risus ipsum praesent urna. Id dapibus id vulputate netus porttitor. Sed mauris id etiam risus nunc cursus vivamus leo enim.
                        Pellentesque quis dignissim mauris ornare. Feugiat amet dui morbi tortor in. Aliquet viverra massa dignissim suscipit. Metus nullam duis diam fames lectus nunc ullamcorper ut. Auctor mauris quam sed facilisi odio vulputate. Non fermentum elit sed eget ac adipiscing urna. Fringilla semper pellentesque nunc leo vitae netus. Molestie lacus quam tincidunt aenean viverra.
                    </h6>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


